<%- include layouts/header.ejs %>
<title>AlkoSzop - Panel Administracyjny</title>
<div class="page-data">

    <form method="post" action="/producenci/add">
        <table cellpadding="11">
            <tr>
                <td class="label">ID Producenta</td>
                <td>:
                    <input type="text" name="ID_Producent" required>
                </td>
            </tr>
            <tr>
                <td class="label">Nazwa</td>
                <td>:
                    <input type="text" name="nazwa" required>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="submit" name="submit" value="Zapisz">
                    <input type="button" name="cancel" value="Anuluj" class="cancel" onClick="cancelAddProducent()">
                </td>
            </tr>
        </table>
    </form>

</div>

<%- include layouts/footer.ejs %>