<!DOCTYPE html>
<head>
    <link href="/../css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/../js/all.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="page-header">
        <h2><%= page_title %></h2>
            <div align="right">
                <input type="button" name="" value="Strona Główna" class="bigbtn"
                       onClick="window.location.href = '/';">
                <input type="button" name="" value="Produkty" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                <input type="button" name="" value="Producenci" class="bigbtn"
                       onClick="window.location.href = '/producenci';">
                <input type="button" name="" value="Typy" class="bigbtn"
                       onClick="window.location.href = '/typy';">
                <input type="button" name="" value="Klienci" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                <input type="button" name="" value="Adresy" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                <input type="button" name="" value="Zamówienia" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                <input type="button" name="" value="Dostawy" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                <input type="button" name="" value="Wysyłki" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                <input type="button" name="" value="Płatności" class="bigbtn"
                       onClick="window.location.href = '/produkty';">
                &ensp;
            </div><br>
    </div>
    <div class="page-container">
